@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Work+Sans:wght@200;300;400;500&display=swap');



body {
	background: #e4f6ed;
	padding-top: 20%;

}

p {
	color: #3f4e2a;
	font-size: 1.7rem;
	line-height: 2.2rem;
	font-family: 'Nanum Myeongjo', serif;

}

h1 { 
	color: #3f4e2a;
	font-size: 4.4rem;
	letter-spacing: -2px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	margin-bottom: 0;
}


a {
	color: #bbbbbb;
	text-decoration: none;
	outline: none;
}

a:link{
  color:#68635F;text-decoration:none;
  -o-transition:color.3s;
  -ms-transition:color.3s;
  -moz-transition:color.3s;
  -webkit-transition:color.3s;
  transition:color.3s;
}
a:visited {color:#68635F;text-decoration:none;}
a:hover {color:#4ED1A1;}  
a:active {color:#68635F;}  

.headline {
	width: 70%;
	margin: auto;
}

.main {
	width: 58%;
	margin: auto;
}

@media screen and (max-height: 30.5em) {
	.overlay .about {
		height: 70%;
		font-size: 34px;
	}
	.overlay {
		min-height: 34px;
	}
}



@media (max-width: 600px) {
  	.aboutbody {
    font-size: .8em;
	}
}

@media (min-width: 601px) and (max-width: 900px) {
  	.aboutbody {
    font-size: .9em;
	}
}


@media (max-width: 600px) {
  	h1 {
    font-size: 2.5em;
	}
}

@media (min-width: 601px) and (max-width: 900px) {
  	.overlay .about {
    margin-left: 20%;
    margin-right: 20%;
	}
}

@media (max-width: 600px) {
  	.overlay .about {
    margin: 10%;
	}
}





