@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Work+Sans:wght@200;300;400;500&display=swap');



body {
	background: #e4f6ed;

}

p {
	color: #3f4e2a;
	font-size: 1.7rem;
	line-height: 2.4rem;
	font-family: 'Nanum Myeongjo', serif;
	display: inline;
}

h1 { 
	color: #3f4e2a;
	font-size: 5.5rem;
	letter-spacing: -.3rem;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
}


a {
	color: #3f4e2a;
	font-size: 1.7rem;
	line-height: 2.2rem;
	font-family: 'Nanum Myeongjo', serif;
	display: inline;
	padding: 0 1px;
	
}

a:link{
	color: #3f4e2a;
  	-o-transition:color.3s;
 	-ms-transition:color.3s;
  	-moz-transition:color.3s;
  	-webkit-transition:color.3s;
  	transition:color.3s;
}
a:hover {color:#9e7228;}  
a:active {color:#29331a;}  


::-moz-selection { 
	background: #ffca58;
  }
  
::selection {
	background: #ffca58;
  }

.underline {
	text-decoration-color: #96d1b4;
}

.underline:hover {
	text-decoration-color: #a97c2e;
	transition: .3s;
}

.headline-home {
	max-width: 1000px;
	margin: auto;
	padding-bottom: 20px;
	padding-top: 10%;
}

.main {
	max-width: 900px;
	margin: auto;
}

.footer {
	max-width: 900px;
	margin: auto;
	padding-top: 3%;
	padding-bottom: 15%;
}


.hover-tooltip {
	text-decoration:none;
	position:relative;
  }
   
  .hover-tooltip span {
	display:none;
  }
   
  .hover-tooltip span img {
	float:left;
  }
   
  .hover-tooltip:hover span {
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:1000;
	width:auto;
	margin-left:100px;
	margin-top:-200px;
	border-radius: 20px;
	overflow:hidden;
	box-shadow: 12px 8px #ffca58;
	transition: .3s;
  }


.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #e4f6ed;
	padding: 30px;
	font-size: 20px;
  }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

li:after {
    content: "/";
	display: inline-block;
	margin: 0 4px 0 8px;
}

li:last-child:after {
    display: none;
}






@media (min-width: 601px) and (max-width: 1400px) {
	.headline-home {
		width: 87%;
		max-width: 910px;
	}

	.main {
    	width: 85%;
	}

	.footer {
		width: 85%;
		padding-top: 4%;
	}

	h1 { 
		font-size: 4.6rem;	
	}

	p {
		font-size: 1.8rem;
	}

	a {
		font-size: 1.8rem;
	}

}


@media (max-width: 600px) {
	.headline-home {
		width: 87%;
		max-width: 910px;
	}
	
	.main {
		width: 85%;
	}

	.footer {
		width: 85%;
		padding-top: 4%
	}

	h1 { 
		font-size: 3rem;
		letter-spacing: -.2rem;	
	}

	p {
		font-size: 1.4rem;
		line-height: 2rem;
	}

	a {
		font-size: 1.4rem;
		line-height: 2rem;
	}


}














@media (prefers-color-scheme: dark) {
	body {
	  background: #0c2419;
	}
  
	h1 { 
		color: #cdd4c2;
	}

	p { 
		color: #cdd4c2;
	}

	a {
	  color: #cdd4c2;
	}

	a:link {
		color: #cdd4c2;
	}

	a:hover {color:#d18f00;}  
	a:active {color:#f3b328;} 
	
	.sticky {
		background-color: #0c2419;
	}

	.underline {
		text-decoration-color: #258257;
		text-decoration-thickness: 3px;
	}

  }


